@font-face {
    font-family: "Hello";
    src: url(asset/font/HelloEtchASketch.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    text-align: center;
    background-color: #D2001A;
}

header h1 {
    font-family: "Hello";
    color: #FFFAE7;
    text-shadow: 3px 4px 5px #000;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.grid-size-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    cursor: pointer;
    outline: none;
}

.grid-size-slider::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

.cell {
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: #FFFAE7;
    border-radius: 16px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}



